<div class="text-center pt-5 flex justify-between items-center">
    <h1>ยินดีต้อนรับ <span class="text-indigo-500"><%= name %></span></h1>
    <div class="flex justify-center py-3">
        <a href="/logout" class="border border-red-500 text-red-500 px-5 py-1 rounded-md text-sm hover:bg-red-500 hover:text-white transition">ออกสู่ระบบ</a>
    </div>
</div>